<body style="background-color:#CCCCFF;">

<h1 style="text-align:center; border:orange; border-width:5px; border-style:solid;"> Welcome to the Zoo</h1>

<p><%= image_tag "zebras.jpg", :size => "325x200", :style => "border: 3px solid black; float :right" %> </p>
<p><%= image_tag "goats.jpg", :size => "325x200", :style => "border: 3px solid black; float :right" %> </p>
<p><%= image_tag "geese.jpg", :size => "325x200", :style => "border: 3px solid black; float :right" %> </p>

<%= form_tag do%>
    <p style="color:blue; "> Name: <%= text_field_tag(:n)%> </p>
    <p style="color:red; "> How many Geese?: <%= text_field_tag(:q1)%> </p>
    <p style="color:purple; "> How many Goats?: <%= text_field_tag(:q2)%> </p>
    <p style="color:green;  "> How many Zebras?: <%= text_field_tag(:q3)%> </p>
    
    <p><%= submit_tag "Submit Answers"%></p>
<%end %>

<table style= "border:black; border-width:10px; border-style:solid;">
    <tbody>
        <th> Particpants </th>
        <% @allAnswers.each do |answer| %>
            <tr> 
                <td> <%=answer.name%>  </td>
            </tr>
        <%end%>
    </tbody>
</table>

<h2> Results </h2>
<%= pie_chart Answer.group(:q1answer).count, title: "Geese Estimates" %>
<%= pie_chart Answer.group(:q2answer).count, title: "Goat Estimates" %>
<%= pie_chart Answer.group(:q3answer).count, title: "Zebra Estimates" %>



<body>