
<h1 style="border:orange; border-width:5px; border-style:solid;"> Polls</h1>

<!--<p><%= image_tag 'art.jpg' %></p>-->


<%= form_tag do%>
    <p> Name: <%= text_field_tag(:n)%> </p>
    <p> Question 1: <%= text_field_tag(:q1)%> </p>
    <p> Question 2: <%= text_field_tag(:q2)%> </p>
    <p> Question 3: <%= text_field_tag(:q3)%> </p>
    
    <p><%= submit_tag "Submit Answers"%></p>
<%end %>

<table>
    <tbody>
        <th> Particpants </th>
        <% @allAnswers.each do |answer| %>
            <tr> 
                <td> <%=answer.name%>  </td>
            </tr>
        <%end%>
    </tbody>
</table>

    <%= pie_chart Answer.group(:q1answer).count, title: "Question 1" %>
    <%= pie_chart Answer.group(:q2answer).count, title: "Question 2" %>
    <%= pie_chart Answer.group(:q3answer).count, title: "Question 3" %>



